
.searchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 6px;
    padding-bottom: 6px;

    @media (max-width: 600px) {
        justify-content: flex-start;
    }
}

.searchInput {
    background: transparent;
    color: inherit;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    appearance: none;
    width: 100%;
    display: block;
    width: 600px;
    max-width: 100%;
    height: 32px;
    line-height: 32px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 2px rgba(0 ,0, 0, 0.1);
    padding: 6px 12px;
    margin: 6px 12px;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0 ,0, 0, 0.3);
    }

    @media (max-width: 1050px) {
        width: 100%;
        max-width: 400px;
    }

    @media (max-width: 800px) {
        width: 100%;
        margin-left: 160px;
    }

    @media (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 56px;
    }
}

.counts {
    margin: 0 12px;
    min-width: 140px;
    text-align: center;

    @media (max-width: 600px) {
        text-align: start;
        margin-left: 0;
    }
}

.buttons {
    display: flex;
    align-items: center;
    margin: 6px 0;

    @media (max-width: 600px) {
        margin-right: 0;
        justify-content: flex-end;
        flex: 1;
    }
}

.button {
    appearance: none;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 2px rgba(0 ,0, 0, 0.1);
    border: none;
    border-radius: 6px;
    margin: 0 12px;
    padding: 9px 16px;
    cursor: pointer;

    @media (max-width: 600px) {
        margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0 ,0, 0, 0.3);
    }
}

.closeButton {
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 6px;
    margin: 0 12px;
    margin-right: -6px;
    width:28px;
    height:28px;
    cursor: pointer;


    &:hover,
    &:active,
    &:focus {
        outline: none;
        background: rgba(0 ,0, 0, 0.08);
        box-shadow: 0 0 0 2px rgba(0 ,0, 0, 0.2);
    }

    @media (max-width: 600px) {
        position: absolute;
        top: 18px;
        right: 24px;
    }
}